
.DS_Store

Crack_detection_IBM_AI_Engineering_Capstone/concrete_data_week3
Crack_detection_IBM_AI_Engineering_Capstone/concrete_data_week4
Crack_detection_IBM_AI_Engineering_Capstone/Без названия.ipynb
Google_Advanced_Data_Analytics/presentation.key
Google_Advanced_Data_Analytics/PACE_strategy_document .pages
HR_analytics_Google_Advanced_Data_Analytics/presentation.key
HR_analytics_Google_Advanced_Data_Analytics/PACE_strategy_document .pages
HR_analytics_Google_Advanced_Data_Analytics/.ipynb_checkpoints/Salifort_Motors_project-checkpoint.ipynb
/Yandex_Praktikum_Data_Science_Projects/HR_analytics/datasets
/Yandex_Praktikum_Data_Science_Projects/Сomputer_games_market/.ipynb_checkpoints
/Yandex_Praktikum_Data_Science_Projects/Big_cities_music/.ipynb_checkpoints
/Yandex_Praktikum_Data_Science_Projects/Determining_the_value_of_cars/.ipynb_checkpoints
/Yandex_Praktikum_Data_Science_Projects/Dairy_farming/.ipynb_checkpoints
/Yandex_Praktikum_Data_Science_Projects/Age_prediction/.ipynb_checkpoints
/Yandex_Praktikum_Data_Science_Projects/Property_search_service/.ipynb_checkpoints
/Yandex_Praktikum_Data_Science_Projects/Reliability_of_borrowers/.ipynb_checkpoints
/Yandex_Praktikum_Data_Science_Projects/Scooter_rental_service_users/.ipynb_checkpoints
/Yandex_Praktikum_Data_Science_Projects/Selecting_a_location_for_a_well.ipynb/.ipynb_checkpoints
/Yandex_Praktikum_Data_Science_Projects/Taxi_order_forecasting/.ipynb_checkpoints
/Yandex_Praktikum_Data_Science_Projects/Wikishop/.ipynb_checkpoints
/Yandex_Praktikum_Data_Science_Projects/borrower_reliability_analysis/datasets
/Yandex_Praktikum_Data_Science_Projects/car_price_prediction/datasets
/Yandex_Praktikum_Data_Science_Projects/computer_game_market_analysis/datasets
/Yandex_Praktikum_Data_Science_Projects/toxic_comment_classification_with_bert/datasets
/Yandex_Praktikum_Data_Science_Projects/taxi_order_forecasting/datasets
/Yandex_Praktikum_Data_Science_Projects/scooter_rental_user_analysis/datasets
/Yandex_Praktikum_Data_Science_Projects/real_estate_market_analysis/datasets
/Yandex_Praktikum_Data_Science_Projects/personalized_shopping_offers/datasets
/Yandex_Praktikum_Data_Science_Projects/optimal_location_for_oil_well/datasets
/Yandex_Praktikum_Data_Science_Projects/hr_employee_satisfaction_analysis/datasets
/Yandex_Praktikum_Data_Science_Projects/dairy_farming_optimization/datasets
/Yandex_Praktikum_Data_Science_Projects/borrower_reliability_analysis/.ipynb_checkpoints
/Yandex_Praktikum_Data_Science_Projects/big_city_music_analysis/.ipynb_checkpoints
/Yandex_Praktikum_Data_Science_Projects/age_prediction_from_photos/.ipynb_checkpoints
/Yandex_Praktikum_Data_Science_Projects/car_price_prediction/.ipynb_checkpoints
/Yandex_Praktikum_Data_Science_Projects/computer_game_market_analysis/.ipynb_checkpoints
/Yandex_Praktikum_Data_Science_Projects/dairy_farming_optimization/.ipynb_checkpoints
/Yandex_Praktikum_Data_Science_Projects/hr_employee_satisfaction_analysis/.ipynb_checkpoints
/Yandex_Praktikum_Data_Science_Projects/optimal_location_for_oil_well/.ipynb_checkpoints
/Yandex_Praktikum_Data_Science_Projects/real_estate_market_analysis/.ipynb_checkpoints
/Yandex_Praktikum_Data_Science_Projects/scooter_rental_user_analysis/.ipynb_checkpoints
/Yandex_Praktikum_Data_Science_Projects/toxic_comment_classification_with_bert/.ipynb_checkpoints
/Yandex_Praktikum_Data_Science_Projects/.ipynb_checkpoints
/Yandex_Praktikum_Data_Science_Projects/personalized_shopping_offers/.ipynb_checkpoints
/Yandex_Praktikum_Data_Science_Projects/capstone_project/catboost_info
/Yandex_Praktikum_Data_Science_Projects/capstone_project/datasets
/Yandex_Praktikum_Data_Science_Projects/capstone_project/.ipynb_checkpoints
