
.DS_Store
Yandex_Praktikum_Data_Science_Projects/HR_analytics/test_target_job_satisfaction_rate.csv
Yandex_Praktikum_Data_Science_Projects/HR_analytics/test_target_quit.csv
Yandex_Praktikum_Data_Science_Projects/HR_analytics/train_job_satisfaction_rate.csv
Yandex_Praktikum_Data_Science_Projects/HR_analytics/train_quit.csv
Yandex_Praktikum_Data_Science_Projects/HR_analytics/test_features.csv
Yandex_Praktikum_Data_Science_Projects/.ipynb_checkpoints/HR_analytics-checkpoint.ipynb
Yandex_Praktikum_Data_Science_Projects/.ipynb_checkpoints/HR_analytics-Copy1-checkpoint.ipynb
Yandex_Praktikum_Data_Science_Projects/HR_analytics/.ipynb_checkpoints/HR_analytics-checkpoint.ipynb
Crack_detection_IBM_AI_Engineering_Capstone/concrete_data_week3
Crack_detection_IBM_AI_Engineering_Capstone/concrete_data_week4
Crack_detection_IBM_AI_Engineering_Capstone/Без названия.ipynb
